





/*===============================
Main Menu
===============================*/
/* All child dot points */
.nav-child li:before {
    content: "- " !important;
}



/*===============================
Advanced Search
===============================*/
dt.result-title {
    margin-top: 25px;
}
